<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central">
  <form action="/dashboard/funcionariosCadastrados" method="GET" class="form-group pesqui">
    <input type="text" name="search" placeholder="Nome do Funcionario" style="padding-left: 5px;" />
    <input type="submit" class="btn btn-primary" value="buscar" />
  </form>
  <!-- Modal -->
  <div class="modal fade" id="cadastroFuncionario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelCliente">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-row" method="post" action="/cadastrarUsuario">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="marg10">Nome</label>
                <input type="text" name="nome" class="form-control" placeholder="Nome" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Sobrenome</label>
                <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">CPF</label>
                <input type="text" name="cpf" class="form-control" placeholder="CPF" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Data de Nascimento</label>
                <input type="date" name="dataDeNascimento" class="form-control" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email" required />
              </div>
              <div class="form-group col-md-6">
                <label for="password" class="marg10">Senha</label>
                <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required />
              </div>
              <div class="form-group col-md-6">
                <label for="confirmpassword" class="marg10">Confirmação de Senha</label>
                <input type="password" name="confirmpassword" id="confirmpassword" class="form-control"
                  placeholder="Confirme a sua senha" required />
              </div>

              <div class="form-group col-md-6">
                <label class="marg10">CEP</label>
                <input name="cep" class="form-control" type="text" id="cep" placeholder="CEP" value="" size="100%"
                  onblur="pesquisacep(this.value);" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">NÚMERO</label>
                <input type="text" class="form-control" placeholder="Numero" size="100%" name="numeroCasa" />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">RUA</label>
                <input name="rua" class="form-control" type="text" size="100%" id="rua" />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">BAIRRO</label>
                <input name="bairro" class="form-control" type="text" size="100%" id="bairro" />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">CIDADE</label>
                <input name="cidade" class="form-control" type="text" size="100%" id="cidade" />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">ESTADO</label>
                <input name="uf" class="form-control" type="text" id="uf" size="100%" />
              </div>
            </div>
            <input type="hidden" name="status" id="status" value="2" />
            <div class="modal-footer col-12">
              <button type="submit" class="btn btn-dark col-12" id="submitCadastrar">Enviar</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <table class="table table-responsive-12">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Email</th>
        <th scope="col">Senha</th>
        <th scope="col">Endereço</th>
        <th scope="col">Ações</th>
        <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cadastroFuncionario">
            +
          </button></th>
      </tr>
    </thead>
    <tbody>
      {{#each funcionariosCadastrados}}
      <tr>
        <td> {{this.id}} </td>
        <td> {{this.nome}} </td>
        <td> {{this.cpf}} </td>
        <td> {{formatDate this.dataDeNascimento}} </td>
        <td> {{this.email}} </td>
        <td> ************ </td>
        <td> {{this.endereco}} </td>
        <td id="acoes-botoes">
          <a href="/dashboard/editFuncionario/{{this.id}}">
            <button type="button" class="btn btn-primary">alterar
            </button></a>
          <form action="/dashboard/removeFuncionario/{{this.id}}" method="POST">
            <button class="btn btn-danger" type="submit">Remover</button>
          </form>
        </td>
        <td></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>