<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central">
  <div class="text-center my-2 mb-4" style="width: 100%;">
    <h1>Pedidos de botijões</h1>
  </div>
  {{#if messages.mensagemEstoqueVazio}}
  {{messages.mensagemEstoqueVazio}}
  {{/if}}
  <table class="table table-responsive-12">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Quantidade de Entrada</th>
        <th scope="col">Valor Total Investido</th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align: center;">
        <td> {{quantidadeTotalInserida}} </td>
        <td> {{valorTotalComprada}} </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-responsive-12" style="text-align: center;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id de Entrada</th>
        <th scope="col">Nome Do Produto</th>
        <th scope="col">Valor Do Produto</th>
        <th scope="col">Quantidade Inserida</th>
        <th scope="col">Valor Total</th>
        <th scope="col">Data</th>
        <th scope="col"><a href="/dashboard/novoProduto"><button class="btn btn-primary">+</button></a></th>
      </tr>
    </thead>
    <tbody>
      {{#each estoqueCadastrado}}
      <tr>
        <td> {{this.id}} </td>
        <td> {{this.nomeDoProduto}} </td>
        <td> {{this.valorDoProduto}} </td>
        <td> {{this.quantidadeInserida}} </td>
        <td> {{this.valorTotal}} </td>
        <td> {{formatDate this.data}} </td>
        <td id="acoes-botoes">
          <a href="/dashboard/editEstoque/{{this.id}}"><button type="button"
              class="btn btn-primary">Alterar</button></a>
          <form action="/dashboard/removeCompra/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-danger" type="submit">Remover</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>