<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central">
    <div class="container">
        <h2>Relatórios</h2>
        <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements
            under the specified parent will be closed when one of the collapsible item is shown.</p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                            style="color: #000;">Relatório do mês</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>data</th>
                                <th>quantidade de produtos inseridos</th>
                                <th>quantidade de produtos venditos</th>
                                <th>valor total das vendas</th>
                                <th>valor total das compras</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each estoquesCadastradosMensalmente}}
                            <tr>
                                <td>{{{formatDate this.createdAt}}}</td>
                                <td>{{{this.quantidadeInserida}}}</td>
                                <td>{{{this.quantidadeVendida}}}</td>
                                <td>{{{valorGas this.quantidadeVendida}}}</td>
                                <td>{{{valorCompra this.quantidadeInserida this.valorDoProduto}}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                            style="color: #000;">Relatório do ano</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>data</th>
                                <th>quantidade de produtos inseridos</th>
                                <th>quantidade de produtos venditos</th>
                                <th>valor total das vendas</th>
                                <th>valor total das compras</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each estoquesCadastradosAnual}}
                            <tr>
                                <td>{{{formatDate this.createdAt}}}</td>
                                <td>{{{this.quantidadeInserida}}}</td>
                                <td>{{{this.quantidadeVendida}}}</td>
                                <td>{{{valorGas this.quantidadeVendida}}}</td>
                                <td>{{{valorCompra this.quantidadeInserida this.valorDoProduto}}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>