<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central">
    <div class="container">
        <h1 style="text-align: center; margin: 30px 0;">Relatórios</h1>
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#RelatorioDeEstoques"
                    style="color: #000;">Relatório de Estoque</a><a href="/dashboard/relatorios/EnviarPdf"><button
                        class="btn btn-primary ml-4" id="tester">Relatorio em
                        pdf</button></a>
            </h3>
        </div>
        <div id="RelatorioDeEstoques" class="panel-collapse collapse in">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                style="color: #000;">Relatório do Mês atual</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <h5>Maiores quantidades referente ao mês</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Data</th>
                                    <th>Quantidade Inserida</th>
                                    <th>Valor do Produto</th>
                                    <th>Valor gasto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{{formatDate diaDoMesOndeComprouMais.0.0.createdAt}}}</td>
                                    <td>{{{diaDoMesOndeComprouMais.0.0.quantidadeInserida}}}</td>
                                    <td>{{{diaDoMesOndeComprouMais.0.0.valorDoProduto}}}</td>
                                    <td>{{{diaDoMesOndeComprouMais.0.0.valorGasto}}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5>Quantidade total referente ao mês </h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>mês</th>
                                    <th>quantidade Inserida</th>
                                    <th>valor Total Estoque</th>
                                    <th>Quantidade Armazenada</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{{somaTotalDoMes.0.mes}}}</td>
                                    <td>{{{somaTotalDoMes.0.quantidadeInserida}}}</td>
                                    <td>{{{somaTotalDoMes.0.valorTotalEstoque}}}</td>
                                    <td>{{{somaTotalDoMes.0.quantidadeArmazenada}}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                                style="color: #000;">Relatório dos Meses</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <h5>Maiores quantidades referente aos meses</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Data</th>
                                    <th>Quantidade Inserida</th>
                                    <th>Valor do Produto</th>
                                    <th>Valor gasto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each diaDosMesesOndeComprouMais}}
                                <tr>
                                    <td>{{{this.MONTH}}}</td>
                                    <td>{{{this.quantidadeInserida}}}</td>
                                    <td>{{{this.valorDoProduto}}}</td>
                                    <td>{{{this.valorGasto}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <h5>Quantidade total referente aos meses</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>mês</th>
                                    <th>quantidade Inserida</th>
                                    <th>valor Total Estoque</th>
                                    <th>Valor do Produto</th>
                                    <th>Quantidade Armazenada</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each somaTotalDosMeses}}
                                <tr>
                                    <td>{{{this.mes}}}</td>
                                    <td>{{{this.quantidadeInserida}}}</td>
                                    <td>{{{this.valorTotalEstoque}}}</td>
                                    <td>{{{this.valorDoProduto}}}</td>
                                    <td>{{{this.quantidadeArmazenada}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                                style="color: #000;">Relatório dos Anos</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <h5>Maiores quantidades referente aos anos</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Data</th>
                                    <th>Quantidade Inserida</th>
                                    <th>Valor do Produto</th>
                                    <th>Valor gasto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each anosOndeComprouMais}}
                                <tr>
                                    <td>{{{this.YEAR}}}</td>
                                    <td>{{{this.quantidadeInserida}}}</td>
                                    <td>{{{this.valorDoProduto}}}</td>
                                    <td>{{{this.valorGasto}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <h5>Quantidade total referente aos anos</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>mês</th>
                                    <th>quantidade Inserida</th>
                                    <th>valor Total Estoque</th>
                                    <th>Valor do Produto</th>
                                    <th>Quantidade Armazenada</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each somaTotalDosAnos}}
                                <tr>
                                    <td>{{{this.mes}}}</td>
                                    <td>{{{this.quantidadeInserida}}}</td>
                                    <td>{{{this.valorTotalEstoque}}}</td>
                                    <td>{{{this.valorDoProduto}}}</td>
                                    <td>{{{this.quantidadeArmazenada}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#RelatorioDePedidos"
                    style="color: #000;">Relatório de Pedidos</a><a
                    href="/dashboard/relatorios/EnviarPdfPedidos"><button class="btn btn-primary ml-4">Relatorio em
                        pdf</button></a>
            </h3>
        </div>
        <div id="RelatorioDePedidos" class="panel-collapse collapse in">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1Pedido"
                                style="color: #000;">Relatório do Mês atual</a>
                        </h4>
                    </div>
                    <div id="collapse1Pedido" class="panel-collapse collapse in">
                        <h5>Soma total do Mês</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Mês</th>
                                    <th>Quantidade de Pedidos de Botijões</th>
                                    <th>Valor Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{{valorTotalDaSomaDosPedidosFinalizadosDoMes.0.mes}}}</td>
                                    <td>{{{valorTotalDaSomaDosPedidosFinalizadosDoMes.0.quantidadePedido}}}</td>
                                    <td>{{{valorTotalDaSomaDosPedidosFinalizadosDoMes.0.valorTotal}}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <h5>Maior Quantidade do Mês</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Mês</th>
                                    <th>Quantidade de Pedidos de Botijões</th>
                                    <th>Valor Total</th>
                                    <th>Tipo de Pagamento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{{maiorPedidoRealizadoNoMes.0.mes}}}</td>
                                    <td>{{{maiorPedidoRealizadoNoMes.0.quantidadePedido}}}</td>
                                    <td>{{{maiorPedidoRealizadoNoMes.0.valorTotal}}}</td>
                                    <td>{{{maiorPedidoRealizadoNoMes.0.tipoDePagamentoNaEntrega}}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2Pedido"
                                style="color: #000;">Relatório dos Meses</a>
                        </h4>
                    </div>
                    <div id="collapse2Pedido" class="panel-collapse collapse in">
                        <h5>Soma total dos Meses</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Mês</th>
                                    <th>Quantidade de Pedidos de Botijões</th>
                                    <th>Valor Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each valorTotalDaSomaDosPedidosFinalizadosDosMeses}}
                                <tr>
                                    <td>{{{this.mes}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <h5>Maior Quantidade de Pedido dos Meses</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Mês</th>
                                    <th>Quantidade de Pedidos de Botijões</th>
                                    <th>Valor Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each maiorPedidoRealizadoDosMeses}}
                                <tr>
                                    <td>{{{this.mes}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3Pedido"
                                style="color: #000;">Relatório dos Anos</a>
                        </h4>
                    </div>
                    <div id="collapse3Pedido" class="panel-collapse collapse">
                        <h5>Soma de Todos os Pedidos dos Anos</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Ano</th>
                                    <th>Quantidade de Pedidos de Botijões</th>
                                    <th>Valor Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each valorTotalDaSomaDosPedidosFinalizadosDosAnos}}
                                <tr>
                                    <td>{{{this.ano}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <h5>Maior Quantidade de Pedido dos Anos</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Ano</th>
                                    <th>Quantidade de Pedidos de Botijões</th>
                                    <th>Valor Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each maiorPedidoRealizadoDosAnos}}
                                <tr>
                                    <td>{{{this.ano}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#RelatorioDeClientes"
                    style="color: #000;">Relatório de clientes</a><a
                    href="/dashboard/relatorios/EnviarPdfClientes"><button class="btn btn-primary ml-4">Relatorio em
                        pdf</button></a>
            </h3>
        </div>
        <div id="RelatorioDeClientes" class="panel-collapse collapse in">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1Clientes"
                                style="color: #000;">Relatório do Mês atual</a>
                        </h4>
                    </div>
                    <div id="collapse1Clientes" class="panel-collapse collapse in">
                        <h5>Soma geral</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>nome</th>
                                    <th>Quantidade de Pedido Total</th>
                                    <th>Valor total de compras</th>
                                    <th>data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each SomarPedidoDoClienteRealizadoDomes}}
                                <tr>
                                    <td>{{{this.id}}}</td>
                                    <td>{{{this.nome}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                    <td>{{{this.mes}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <h5>Valor maximo do mês</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>nome</th>
                                    <th>Quantidade de Pedido Total</th>
                                    <th>Valor total de compras</th>
                                    <th>data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each maiorPedidoDoClienteRealizadoDomes}}
                                <tr>
                                    <td>{{{this.id}}}</td>
                                    <td>{{{this.nome}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                    <td>{{{this.mes}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2Clientes"
                                style="color: #000;">Relatório dos Meses</a>
                        </h4>
                    </div>
                    <div id="collapse2Clientes" class="panel-collapse collapse in">
                        <h5>Soma geral dos meses</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>nome</th>
                                    <th>Quantidade de Pedido Total</th>
                                    <th>Valor total de compras</th>
                                    <th>data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each SomarPedidoDoClienteRealizadoDosmeses}}
                                <tr>
                                    <td>{{{this.id}}}</td>
                                    <td>{{{this.nome}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                    <td>{{{this.mes}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <h5>Valor maximo dos meses</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>nome</th>
                                    <th>Quantidade de Pedido Total</th>
                                    <th>Valor total de compras</th>
                                    <th>data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each maiorPedidoDoClienteRealizadoDosmeses}}
                                <tr>
                                    <td>{{{this.id}}}</td>
                                    <td>{{{this.nome}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                    <td>{{{this.mes}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3Clientes"
                                style="color: #000;">Relatório dos Anos</a>
                        </h4>
                    </div>
                    <div id="collapse3Clientes" class="panel-collapse collapse">
                        <h5>Soma total dos anos</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>nome</th>
                                    <th>Quantidade de Pedido Total</th>
                                    <th>Valor total de compras</th>
                                    <th>data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each SomarPedidoDoClienteRealizadoDosAnos}}
                                <tr>
                                    <td>{{{this.id}}}</td>
                                    <td>{{{this.nome}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                    <td>{{{this.ano}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <h5>Valor maximo dos anos</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>nome</th>
                                    <th>Quantidade de Pedido Total</th>
                                    <th>Valor total de compras</th>
                                    <th>data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each maiorPedidoDoClienteRealizadoDosAnos}}
                                <tr>
                                    <td>{{{this.id}}}</td>
                                    <td>{{{this.nome}}}</td>
                                    <td>{{{this.quantidadePedido}}}</td>
                                    <td>{{{this.valorTotal}}}</td>
                                    <td>{{{this.ano}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>