<section>
    <div class="secao-home-cliente">
        <div class="row">
            <div id="funcoesfuncioanrio" class="col-2">
                {{> funcionarioAcessos}}
            </div>

            <div class="col-9 secao-home-cliente-row-div-central">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Data de Nascimento</th>
                            <th scope="col">Email</th>
                            <th scope="col">Senha</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Ações</th>
                            <th><button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target=".bd-example-modal-lg" data-dismiss=" modal "
                                id="btnCadastro">+</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each clientesCadastrados}}
                        <tr>
                            <td> {{this.id}} </td>
                            <td> {{this.nome}} </td>
                            <td> {{this.cpf}} </td>
                            <td> {{this.dataDeNascimento}} </td>
                            <td> {{this.email}} </td>
                            <td> ************ </td>
                            <td> {{this.endereco}} </td>
                            <td id="acoes-botoes"> 
                                <button><a href="/dashboard/edit/{{this.id}}"> alterar</a></button>                                
                                <form action="/dashboard/removeCliente/{{this.id}}" method="POST">
                                    <button type="submit">Remover</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>