<div class="col-10 secao-home-cliente-row-div-central">
  <div class="row">
    <div class="col-lg-12">
      <div class="titulos">
        <h1 class="texto-center"> Caixa Aberto</h1>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="fundo-dos-pedidos">
        <h3 class="texto-center2">Pedido de Produtos</h3>
        <table
          id="tableIdCaixa"
          class="table table-hover table-responsive-12 w-100"
          style="cursor: pointer;"
        >
          <thead class="thead-dark">
            <tr>
              <th>Quantidade</th>
              <th>Tipo de pagamento</th>
              <th>valor</th>
              <th>troco</th>
              <th>Data</th>
              <th>Endereço</th>
              <th>status Pedidos</th>
            </tr>
          </thead>
          <tbody>
            {{#each pedidosCadastrados}}
              <tr>
                <td hidden>{{{this.id}}}</td>
                <td>{{{this.quantidadePedido}}}</td>
                <td>{{{this.tipoDePagamentoNaEntrega}}}</td>
                <td>{{{this.valorTotal}}}</td>
                <td>{{this.troco}}</td>
                <td>{{{formatDate this.createdAt}}}</td>
                <td>{{{this.Cliente.endereco}}}</td>
                <td>{{{this.statusPedidos}}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-4">

      <form method="post" action="/caixa/pedidoFinalizado">
        <div>
          <h3 class="texto-center3">Forma de Pagamento</h3>
          <div class="input-group mb-3">

            <select class="custom-select" id="formaDePagamento">
              <option selected disabled>ESCOLHA OPÇÃO...</option>
              <option value="dinheiro">DINHEIRO</option>
              <option value="cartao">CARTÃO</option>
            </select>
          </div>
        </div>
        <div>
          <h5 class="texto-center3">Quantidade</h5>
          <div class="input-group mb-3">
            <input
              type="text"
              id="quantidadeDeGas"
              name="quantidadePedido"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
            />
          </div>
        </div>
        <div>
          <h3 class="texto-center3"> Total a Pagar R$</h3>
          <div class="input-group mb-3">
            <span class="input-group-text">R$</span>
            <input
              type="text"
              id="valorTotalCompra"
              name="totalAPagar"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
            />
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <input type="text" id="id" name="id" hidden />
        <div>
          <h1 class="texto-center3">Troco R$</h1>
          <div>
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
              <input
                id="troco"
                name="troco"
                type="text"
                class="form-control"
                aria-label="Amount (to the nearest dollar)"
              />
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
        <div>
          {{! Botões da Pagina }}
          <div style="display: flex;">
            <button
              href="/caixa/pedidoFinalizado"
              class="btn btn-success col-12 my-2"
              style="font-size: 20px; font-weight: bolder; background"
            >FINALIZAR</button>
          </div>
        </div>
      </form>
      <form method="post" action="/caixa/pedidoCancelado">
        <input type="text" id="idCancelamento" name="id" hidden />
        <button
          class="btn btn-danger col-12"
          style="font-size: 20px; font-weight: bolder; "
        >CANCELAR</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{! Fechamento do Caixa }}
      <hr style="margin-top: 10px; padding: 0;" />
      <div class="resultados">
        <h1 class="texto-center"> Fechamento do Caixa</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-12 posicao-caixa">
    <div class="col-lg-8">
      <div class="input-group-prepend">
        <span class="input-group-text label-estilo">Valor Inserido R$</span>
        <div class="input-group-append">
          <input
            id="valorInserido"
            type="text"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
            value="{{totalInseridoCaixa}}"
            readonly
          />
          <span class="input-group-text">.00</span>
        </div>
      </div>
      <div>
        <div class="input-group-prepend">
          <span class="input-group-text label-estilo">Valor Retirado R$</span>
          <div class="input-group-append">
            <input
              id="valorRetirado"
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              value=""
              readonly
            />
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>

      <div class="input-group-prepend">
        <span class="input-group-text label-estilo">Valor Total R$</span>
        <div class="input-group-append">
          <input type="text" class="form-control" id="valorTotal" readonly />
          <span class="input-group-text">.00</span>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="/js/scriptCaixa.js"> </script>